<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detailSearchMapper">
	
	<!-- 상세검색 결과 받아오기 -->
	<select id="detailList" resultType="com.greencar.vo.goods.DetailSearchVO" parameterType="com.greencar.vo.goods.DetailSearchVO">
		SELECT 
		       GOODS_NO,  
		       GOODS_NAME , 
		       GOODS_SIZE , 
		       GOODS_TYPE , 
		       GOODS_PRICE , 
		       GOODS_EFFICIENT, 
		       GOODS_FUEL , 
		       BRAND_CODE, 
		       GOODS_CODE  
		FROM 
				GOODS
		WHERE 
		        BRAND_CODE = #{brandCode}
		        <if test="goodsSize!=null">
		        AND
		        GOODS_SIZE = #{goodsSize}
		        </if> 
		        <if test="goodsType!=null">
		        AND
		        GOODS_TYPE = #{goodsType}
		        </if>
		        <if test="goodsPrice!=''">
		        AND
		        <![CDATA[ GOODS_PRICE <= #{goodsPrice} ]]>
		        </if>
		        <if test="goodsEfficient!=''">
		        AND
		        GOODS_EFFICIENT = #{goodsEfficient}
		        </if>
		        <if test="goodsFuel!=null">
		        AND
		        GOODS_FUEL = #{goodsFuel}
		        </if>
	</select>
	
</mapper>