<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.mypageMapper">
	
	
	<!--  아이디값을 받아서 내가 쓴 글을 출력하는 구현이 안되었음 -->
	<!-- 전체목록조회(페이징X) -->
	<select id="getList" resultType="com.greencar.vo.mypage.MypageVO">
	<![CDATA[
	select * from community where commu_no > 0 order by commu_no desc
	]]>
	</select>
	
	<select id="getListWithPage" resultType="com.greencar.vo.mypage.MypageVO">
		<![CDATA[
		SELECT * FROM(
		    SELECT rownum rn, commu_no,commu_tag,commu_title,commu_writer,commu_text,commu_date,commu_view  
		    FROM (
		    	SELECT * FROM community ORDER BY commu_no DESC)
		    	WHERE rownum <= #{pageNum} * #{amount})
		WHERE rn > (#{pageNum} -1) * #{amount}
		]]> 
	</select>
	
	<!-- 페이징할 전체데이터 갯수 카운트 -->
	<select id="getTotalCount" resultType="int">
		<![CDATA[
		SELECT COUNT(*) FROM community WHERE commu_no > 0
		]]>
	</select>
	

	<!-- 1:1 문의 사항 작성 -->
	<insert id="QnAinsert">
	INSERT INTO onebyone_tbl(obo_no, obo_title, obo_content, obo_category, obo_writer)
	VALUES (OBO_SEQ.NEXTVAL, #{oboTitle}, #{oboContent}, '['||#{oboCategory}||']', #{oboWriter})
	</insert>
	
	<!-- 이메일 중복 점검 -->
	<select id="emailCheck" resultType="int" parameterType="String">
		SELECT
		COUNT(*) FROM user_info
		WHERE USER_email = #{userEmail}
	</select>
	<!-- 닉네임 중복 점검 -->
	<select id="nickCheck" resultType="int" parameterType="String">
		SELECT
		COUNT(*) FROM user_info
		WHERE USER_nick = #{userNick}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="memberUpdate" parameterType="com.greencar.vo.mypage.MypageVO">
		UPDATE user_info SET 
		user_nick = #{userNick},
		user_address = #{userAddress},
		user_address_detail = #{userAddressDetail}
		WHERE user_email= #{userEmail}
	</update>
	
	<!-- 회원탈퇴 -->	
	<delete id="memberDelete">
	DELETE FROM user_info
	WHERE user_email = #{userEmail}
	  AND user_pw = #{userPw} 
	</delete>

</mapper>