@charset "UTF-8";
/* 전체 테두리 */
.wrap {
	height: auto;
	width: 1200px;
	color: #333;
	line-height: 10px;
	background-color: white;
	border: 1px solid black;
	margin: 20px auto 30px auto;
	display: flex;
	flex-wrap: wrap;
}

/* 첫째 줄*/
.box_1 {
	height: 500px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
/* -------------------사진 ---------------------------------------------------------------------*/

/* 첫째줄 사진*/
.update_pic_1 {
	height: 500px;
	width: 60%;
	padding: 1px;
}

.update_pic_2 {
	height: 500px;
	width: 100%;
	padding: 1px;
}

#update_pic_1>img {
	height: 100%;
	width: 100%;
}

#update_pic_2>img {
	height: 100%;
	width: 100%;
}

/* ------------------------내용---------------------------------------------------------------*/
/* 박스 전체 */
.info_detail {
	height: 500px;
	width: 35%;
	margin: 0px auto 0px auto;
}
/* 제목 */
.info_title {
	text-align: center;
	width: 100%;
	height: 50px;
	border-bottom: 3px double gray;
	line-height: 10px;
	padding-top: 20px;
}
/* 부제목 */
.title_1 {
	width: 100%;
	height: 20px;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0px 20px 20px;
	line-height: 10px;
}

/* -------------------------관리자 ---------------------------------------------------------*/
.button_box {
	width: 1200px;
	height: 50px;
	margin: 0px auto 0px auto;
}

.update_pic_button {
	width: 330px;
	height: 30px;
	border-style: none;
	text-align: center;
	float: right;
	margin-top: 5px;
}

.button_update {
	width: 200px;
	height: 45px;
	background-color: #e4dcd3;
	border-style: none;
	border-radius: 5px;
	text-align: center;
	float: right;
}

.button_cancel {
	width: 200px;
	height: 45px;
	background-color: #e4dcd3;
	border-style: none;
	border-radius: 5px;
	text-align: center;
	float: right;
	margin-right: 10px;
}

.message {
	width: 330px;
	height: 30px;
	text-align: left;
	font-size: 18px;
	color: gray;
	padding-left: 50px;
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
	line-height: 20px;
}

/* -------------------------검색 ---------------------------------------------------------*/
.search_box {
	width: 1200px;
	height: 50px;
	margin: 0px auto 0px auto;
}

.search {
	height: 45px;
	width: 300px;
	font-size: 23px;
	float: right;
}

.search_button {
	height: 50px;
	width: 100px;
	font-size: 18px;
	text-align: center;
	float: right;
}