@charset "utf-8";

/*공지사항 컨텐츠영역*/
/*공지사항 타이틀*/
.notice_header {
    width: 100%;
    height: 200px;
    background-image: url("../image/other/dark-car-with-headlight.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    color: #f5f5f5;
    font-size: 27px;
    text-align: center;
    vertical-align: bottom;
    padding: 50px;
    box-sizing: border-box;
}
/*공지사항 검색창*/
.notice_header_search {
    width: 100%;
    height: 50px;
    background-color: #e4dcd3;
    text-align: center;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}
.notice_header_search>form>select[name="search_option"] {
    width: 100px;
    height: 30px;
}
.notice_header_search>form>input[type="search"] {
    width: 500px;
    height: 30px;
    border-radius: 10px;
}
.notice_header_search>form>input[type="submit"] {
    width: 50px;
    height: 30px;
    border-radius: 5px;
}
/*게시판 영역*/
.wrap {
    width: 70%;
    min-width: 1200px;
    height: auto;
    margin: 0 15% 0 15%;
}
/*게시판 영역*/
.notice_borad_wrap {
    width: 100%;
    height: 900px;
}
/*게시판*/
.notice_borad {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border: 1px solid #999;
    table-layout: fixed;
    margin-bottom:30px;
}
/*게시판 항목*/
.notice_borad>tbody>tr>th{
    background-color: #444;
    color: whitesmoke;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
}
/*게시판 목록*/
.notice_borad>tbody>tr>td{
    border-bottom: 1px solid #999;
    height: 40px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tbl_txt {
    text-align: center;
    font-size: 16px;
}
.tbl_txt_num {
    width: 10%;
    text-align: center;
}
.tbl_txt_head {
    width: 50%;
    text-align: center;
}
.tbl_txt_head>a {
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    color: #000;
    text-align: center;
}
.tbl_txt_user{
    width: 10%;
    text-align: center;
}
.tbl_txt_date {
    width: 20%;
    text-align: center;
}
.tbl_txt_view {
    width: 10%;
    text-align: center;
}

.pagenate {
    width: 500px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto; 
}

a:link { color:#333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:hover { color: green; text-decoration: underline; }
a:active { color: white; background-color: green; }

.paginate_btn {
	list-style-type: none;
	text-decoration: none;
	float: left;
	margin-left: 10px;

}

.notice_search {
    text-align: right;
    width: 100%;
}

.notice_search_select {
    width: 100px;
    height: 25px;
    vertical-align: middle;
}
.notice_search_text {
    width: 200px;
    height: 25px;
    vertical-align: middle;
}
.notice_search_btn {
    width: 50px;
    height: 25px;
}

