@charset "UTF-8";

section {
    width: 1200px;
    margin: auto;
}

section #car_detail_search {
    font-size: 25px;
    padding-bottom: 25px;
}

section #car_detail_search_box {
    width: 1200px;
    height: 900px; 
    border: grey solid 2px;
    padding: 20px 50px 0 50px;
}

section #car_detail_search_box hr {
    opacity: .8;
    width: 1200px;
}

/**************************브랜드시작********************/
section #car_detail_search_box #brand_box #brand_button {
    width: 100%;
    height: 160px;
    padding-left: 30px;
}

section #car_detail_search_box #brand_box #brand_button button {
	width: 110px;
    height: 70px;
    background-color: #e4dcd3;
    border-style: none;
    border-radius: 5px;
}


 /* 브랜드 버튼 백그라운드 이미지  */
section #car_detail_search_box #brand_box #brand_button #audi {
	background-image: url("../../image/logo/audi.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #benz {
	background-image: url("../../image/logo/benz.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #cadillac {
	background-image: url("../../image/logo/cadillac.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #chevrolet {
	background-image: url("../../image/logo/chevrolet.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #ferrari {
	background-image: url("../../image/logo/ferrari.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #ford {
	background-image: url("../../image/logo/ford.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #genesis {
	background-image: url("../../image/logo/genesis.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #honda {
	background-image: url("../../image/logo/honda.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #hyundai {
	background-image: url("../../image/logo/hyundai.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #infiniti {
	background-image: url("../../image/logo/infiniti.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #jaguar {
	background-image: url("../../image/logo/jaguar.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #kia {
	background-image: url("../../image/logo/kia.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #lamborghini {
	background-image: url("../../image/logo/lamborghini.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #lexus {
	background-image: url("../../image/logo/lexus.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #mini {
	background-image: url("../../image/logo/mini.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #ssangyong {
	background-image: url("../../image/logo/ssangyong.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #teslr {
	background-image: url("../../image/logo/teslr.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #toyota {
	background-image: url("../../image/logo/toyota.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #volkswagen {
	background-image: url("../../image/logo/volkswagen.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}

section #car_detail_search_box #brand_box #brand_button #volvo {
	background-image: url("../../image/logo/volvo.png");
	background-size: contain;
	background-repeat : no-repeat;
	background-position: center;
}




/*****************************브랜드 끝************************/

/*********************************차종 시작***************************/
section #car_detail_search_box #size_box {
    width: 100%;
    height: 140px;
    padding-top: 12px;
}

section #car_detail_search_box #size_box #size_button{
    width: 100%;
    height: 100px;
    padding-left: 50px;
}

section #car_detail_search_box #size_box #size_button button {
    width: 120px;
    height: 40px;
    background-color: #e4dcd3;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
    margin-top : 10px;
}


/****************************차종 끝***********************/

/***************************분류 시작***********************/

section #car_detail_search_box #type_box {
    width: 100%;
    height: 140px;
    padding-top: 12px;
}

section #car_detail_search_box #type_box #type_button {
    width: 100%;
    height: 100px;
    padding-left: 50px;
}

section #car_detail_search_box #type_box #type_button button {
    width: 120px;
    height: 40px;
    background-color: #e4dcd3;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
    margin-top : 10px;
}

/*********************************분류 끝*******************************/

/***********************************가격 시작********************/

section #car_detail_search_box #price_box {
    width: 100%;
    height: 140px;
    padding-top: 12px;
}

section #car_detail_search_box #price_box #price_button {
    width: 100%;
    height: 100px;
    padding-left: 50px;
}

section #car_detail_search_box #price_box #price_button button {
    width: 120px;
    height: 40px;
    background-color: #e4dcd3;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
    margin-top : 10px;
}
/**********************************가격 끝**************************/

/***********************************연비 시작**********************/

section #car_detail_search_box #efficient_box {
    width: 100%;
    height: 100px;
    padding-top: 12px;
}

section #car_detail_search_box #efficient_box #efficient_button {
    width: 100%;
    height: 40px;
    padding-left: 50px;
}

section #car_detail_search_box #efficient_box #efficient_button button {
    width: 120px;
    height: 40px;
    background-color: #e4dcd3;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
}
/******************연비 끝****************************/

/*********************유종 시작**************************/

section #car_detail_search_box #fuel_box {
    width: 100%;
    height: 130px;
}

section #car_detail_search_box #fuel_box #fuel_button {
    width: 100%;
    height: 40px;
    padding-left: 50px;
}

section #car_detail_search_box #fuel_box #fuel_button button {
    width: 120px;
    height: 40px;
    background-color: #e4dcd3;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
}

/************************유종 끝*****************************/

/****************검색하기 버튼 시작*******************************/

section #search_button {
    width: 1305px;
    height: 50px;
    background-color: #e4dcd3;
    margin-top: 30px;
    border-style: none;
    border-radius: 5px;
}

/***************검색하기 버튼 끝************************************/

/*********상세검색리스트****************/
#detail_list {
    width : 1200px;
    height: 250px;
    border: 1px grey solid;
    margin: auto;
    display: flex;
}

#car_pic {
    width: 400px;
    height: 250px;   
    display : flex;
  	align-items : center; /* 세로 중앙 정렬 */
  	justify-content : center; /* 가로 중앙 정렬 */
  	background-image : cover, contain;
    
}

#car_content1 {
    width : 400px;
}

#car_content2 {
    width : 400px;
}