
.mypage{
    border: black;
    background-color: #e4dcd3;
    font-size: 15px;
    float: left;
    text-align: left;
    margin: 0 0 0 130px;;
    height: 40%;
    width:200px;
}

.mypage span {
    color:red;
}
/* 마이페이지 끝 */
section {
    width: 1200px;
    height: auto;/*완성 후 수정*/
    margin: auto;
    border: solid 1px grey;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

section #topButtonBox {
    width: 100%;
    height: 60px;
    margin-left:70px;
}

section #topButtonBox button {
    width: 200px;
    height: 50px;
    background-color: #e4dcd3;
    border-radius: 2px;
    border-style: none;
    margin-left: 50px;
    font-size: 20px;
}

section #frequentlyBox {
    width: 1000px;
    margin: 20px auto 0 auto;
}

section #frequentlyBox hr {
    opacity: 0.5;
}

section #frequentlyBox #frequentlyText {
    font-size: 30px;
}

section #frequentlyBox #question {
    padding-top : 20px;
    font-size:25px;
}

section #frequentlyBox #question #drop {
    float: right;
}

section #frequentlyBox #question #contentAnswer {
    display: none;
} 

section #personQuestion {
    float: right;
    padding-right: 100px;
}

section #brandCenterBox {
    width: 1000px;
    margin: 100px auto 0 auto;
}

section #brandCenterBox hr {
    opacity: 0.5;
}

section #brandCenterBox #brandCenterText {
    font-size: 30px;
}

section #brandCenterBox #brandCenterButton button {
    width: 200px;
    height: 50px;
    background-color: #e4dcd3;
    border-radius: 2px;
    border-style: none;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 40px;
}