@charset "UTF-8";


h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	
}


/* 별표 & 타이틀 */
.required_1 {
	color: red;
}

.required_2 {
	color: gray;
}

/* 전체 테두리 */
.wrap {
	height: 950px;
	width: 750px;
	font-size: 23px;
	line-height: 10px;
	background-color: white;
	border: 1px solid black;
	margin: 30px auto 0px auto;
}

.member_field {
	font-size: 18px;
	border-style: none;
	border-bottom: 1px solid #333;
	padding: 5px;
}

/* ------------------표 -----------------------------------------------------------------------*/
.td1 {
	padding: 30px 0px 0px 50px;
}

.td2 {
	padding: 30px 5px 0px 5px;
}

.td3 {
	font-size: 12px;
	padding: 0px 0px 0px 15px;
}

/* ----------------생년 월일 ------------------------------------------------------------------------------*/
.member_birth {
	font-size: 14px;
	padding: 3px;
}

/* ------------------버튼 ---------------------------------------------------------*/

/* 버튼 (기본) */
.button_1 {
	width: 100px;
	height: 30px;
	background-color: #e4dcd3;
	border-style: none;
	border-radius: 5px;
	justify-content: center;
	text-align: center;
}

/* 버튼 (대형) */
.button_2 {
	width: 700px;
	height: 50px;
	font-size: 23px;
	background-color: #e4dcd3;
	border-style: none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 30px auto 0px auto;
}

/* ----------------약관 ---------------------------------------------------*/
#agree_box {
	width: 570px;
	height: 200px;
	overflow-y: scroll;
	border: 1px solid black;
	font-size: 12px;
	line-height: 20px;
	padding: 10px 20px 10px 20px;
	margin: 50px auto 20px auto;
}

#agree_check {
	font-size: 18px;
	float: right;
	padding-right: 70px;
}