@charset "UTF-8";
/* * {
    border: 1px dotted #000;
} */

/*마이페이지 전체영역*/
.wrap {
    width: 100%;
    min-width: 1500px;
	margin: 0 0 0 10%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
} 
/*카테고리*/
.mypage_category{
     background-color: #e4dcd3;
    font-size: 15px;
    text-align: left;
    width: 15%;
    height: 250px;
    box-sizing: border-box;
}
/*카테고리 알림텍스트*/
.mypage_category>ul>span {
    color:red;
}

a {
	text-decoration: none;
}
/* 내가 쓴글 시작*/

.board{
    border: 1px solid black;
    width: 1200px;
    height: auto;
    text-align: center;
     
   
}
.board_head{
    background-color: #e4dcd3;
}

.tit{ 
    width: 50%;
    text-align: center;
    
}