@charset "UTF-8";

/* 별표 & 타이틀 */
.requiredFld {
    color: red;
}

.requiredEx {
    color: gray;
}

.requiredIg {
    color: white;
}

/* 전체 테두리 */
.change_wrap {
    height: 800px;
    width: 55%;
    color: #333;
    font-size: 21px;
    background-color: white;
    border:1px solid black;  
    box-sizing: border-box;
    margin-right: 20%;
    padding: 50px 0 50px 0;
}

/* 입력창 (기본)*/
input[type="text"] {
    font-size: 18px;
    border-style: none;
    border-bottom: 1px solid #333;
    padding: 5px;
} 

/* 입력창 (비번)*/
input[type="password"] {
    font-size: 18px;
    border-style: none;
    border-bottom: 1px solid #333;
    padding: 5px;
}

/*회원정보 표*/
.joinForm {
    width: 90%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
}

/*회원정보 표 td*/
.joinForm>tbody>tr>td{
    width: 150px;
    height: 30px;
}
/* ------------------표 -----------------------------------------------------------------------*/

/*제목*/
.td2 {
    width: 20%;
}
/*입력*/
.td3 {
    width: 60%;
}
/*클릭*/
.td4 {
    width: 20%;
}
/*예시*/
.td5 {
    font-size: 12px;
    vertical-align: top;
}
.info_disabled{
    color: #999999;
}


/* ----------------생년 월일 ------------------------------------------------------------------------------*/

#memberBirth {
    font-size: 14px;
    padding: 3px;
}

/* ------------------버튼 ---------------------------------------------------------*/

/* 버튼 (기본) */
input#button1 {
    width: 100px;
    height: 30px;
    background-color: #e4dcd3; 
    border-style: none;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}
/*가입하기버튼 영역*/
.joinFormButton {
    margin-left: auto;
    margin-right: auto;
}

/* 버튼 (대형) */
input#button2 {
    width: 700px;
    height: 50px;
    font-size: 23px;
    background-color: #e4dcd3;   
    border-style: none;
    border-radius: 5px;
    margin: 30px 0 30px 7%;
}

/* ----------------약관 ---------------------------------------------------*/

#agreeBox {
    width: 570px;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid black;
    font-size: 12px;
    line-height: 20px;
    padding: 10px 20px 10px 20px;
    margin: 50px auto 20px auto;
}

#agreeCheck {
    font-size: 18px;
    float: right;
    padding-right: 70px;
}