
section {
    width: 1200px;
    margin: auto;
}

a { 
	text-decoration:none;
	!important
}


#customer_question {
	display : flex;
}

#category {
	height: 30px;
	margin-left: 700px;
	margin-top: 15px;
}

table * {
    width: auto;
    height: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

table #tbTop {
    background-color: #e4dcd3;
}
table tr td {
    border: solid grey 2px;
}

#tbNo {
    width: 50px;
}

#tbCategory {
    width: 100px;
}

#tbTitle {
    width: 830px;
}

#tbWriter {
    width: 130px;
}

#tbDate {
    width: 180px;
}

#paging {
	width: 100%;
	height: 5%;
	margin: 10px auto 10px auto;
	text-align: center;
	line-height: 60px;
}

#paging .pagingButton {
	font-size: 23px;
}







