section {
	width: 1200px;
	margin: auto;
}

section #question_title {
	font-size: 20px;
}

section #question_writer {
	float: right;
	padding-right: 20px;
}

section #question_content {
	border: solid black 1px;
	height: auto;
	padding: 20px 10px 20px 10px;
}

section #answer_box {
	border: solid black 1px;
	height: 100px;
	width: 1200px;
}

section #sub {
	display: flex;
}

section #answer_submit {
	float: right;
	background-color: #e4dcd3;
	height: 30px;
	width: 100px;
	margin-top: 10px;
	border: none;
	margin-left: 700px;
}

table * {
	width: auto;
	height: 10px;
	text-align: center;
}

table {
	border-collapse: collapse;
	margin-top: 50px;
}

table #tb_top {
	background-color: #e4dcd3;
}

table tr td {
	border: solid grey 2px;
}

#tb_category {
	width: 150px;
	border: solid grey 2px;
}

#tb_title {
	width: 800px;
}

#tb_date {
	width: 150px;
}

#tb_customer {
	width: 100px;
}

#paging_btn {
	display: flex;
	justify-content: center;
}

#paging_btn button {
	border-style: none;
	background-color: #e4dcd3;
	width: 40px;
	height: 40px;
	margin-top: 10px;
	margin-left: 10px;
}