@charset "UTF-8";
/* * {
    border: 1px dotted #000;
} */

/*마이페이지 전체영역*/
.wrap {
    width: 100%;
    min-width: 1500px;
	margin: 0 0 0 10%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
} 
/*카테고리*/
.mypage_category{
     background-color: #e4dcd3;
    font-size: 15px;
    text-align: left;
    width: 15%;
    height: 250px;
    box-sizing: border-box;
}
/*카테고리 알림텍스트*/
.mypage_category>ul>span {
    color:red;
}

.wrap .mypage_category>a {
	text-decoration: none;
}
/* 마이페이지 끝 */

section {
    width: 1200px;
    height: auto;
}
section>table{
	width: 100%;
}
/* QnA 리스트 시작*/

#customer_question_box{
    border: 1px solid black;
    width: 1200px;
    height: auto;
    text-align: center;
     
   
}
#tb_top{
    background-color: #e4dcd3;
}

#tb_no {
	width: 100px;
}

#tb_category {
	width: 200px;
}

#tb_title{ 
    width: 500px;
    text-align: center;
}

#tb_writer {
	width: 200px;
}

#tb_date {
	width: 200px;
}
