@charset "UTF-8";

@charset "UTF-8";

section {
    width: 1500px;
    height: 800px;
    background-image: url(./img/morning_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 200px;
}

section #idPwTrans {
    margin-left: 80px;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
}

section #idPwBox {
    margin-top: 100px;
    display: flex; 
    padding-left: 100px;
}


section #idPwBox #idSuchBox {
    width: 550px;
    height: 400px;
    background-color: rgba(0,0,0,.5);
    font-size: 20pt;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px 0 0 20px;
}

section #idPwBox #idSuchBox #idText {
    color:white;
    opacity:1.0;
}


section #idPwBox #idSuchBox #userNick {
    width: 400px;
    height: 50px;
    margin-top: 50px;
    margin-left:50px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
}

section #idPwBox #idSuchBox #nickBtn {
    width: 400px;
    height: 50px;
    margin-top: 100px;
    margin-left:50px;
    border-radius: 10px;
    border-style: none;
}


section #idPwBox #pwSuchBox {
    width: 550px;
    height: 400px;
    background-color: rgba(0,0,0,.5);
    font-size: 20pt;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px 0 0 20px;
}



section #idPwBox #pwSuchBox #pwText {
    color:white;
    opacity:1.0;
}


section #idPwBox #pwSuchBox #userEmail {
    width: 400px;
    height: 50px;
    margin-top: 50px;
    margin-left:50px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
}

section #idPwBox #pwSuchBox #emailBtn {
    width: 400px;
    height: 50px;
    margin-top: 100px;
    margin-left:50px;
    border-radius: 10px;
    border-style: none;
}
