@charset "UTF-8";

/* * {
    border: 1px dotted #000;
} */
.wrap {
    width: 70%;
    margin: 0 15% 0 15%;
}


.sales{
  
     font-size: 16px;
     text-align: left;
     list-style:  clear;
   
    
}
.check_box{
    width: 100%;
    height: 30px;
    border: 1px solid black;
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.check_box>input[type="date"] {
    width:150px;
    
}

.ask{
    text-align: right;
}
.graph{ 
    margin: 20px 0 20px 0;
    background-color: yellow;
    width: 100%;
    height: 300px;
}
.result{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.hood {
    background-color: #e4dcd3;
    border-top: 1px solid #999;
    border-bottom: 1px solid#999;

 }

 .result_body{
    border-top: 1px solid #999;
 }