section {
    width: 1200px;
    margin: auto;
}

section #car_detail_search {
    font-size: 25px;
    padding-bottom: 25px;
}

section #car_detail_search_box {
    width: 1200px;
    height: 900px; 
    border: grey solid 2px;
    padding: 20px 50px 0 50px;
}

section #car_detail_search_box hr {
    opacity: .8;
    width: 1200px;
}

/**************************브랜드시작********************/
section #car_detail_search_box #brand_box #brand_button {
    width: 100%;
    height: 160px;
    padding-left: 50px;
}

section #car_detail_search_box #brand_box #brand_button button {
    margin: 10px 10px 10px 0;
    background-color: #e4dcd3;
    border-style: none;
    border-radius: 5px;
}

section #car_detail_search_box #brand_box #brand_button button img {
    width: 80px;
    height: 56px;
}

/*****************************브랜드 끝************************/

/*********************************차종 시작***************************/
section #car_detail_search_box #model_box {
    width: 100%;
    height: 130px;
}

section #car_detail_search_box #model_box #model_button {
    width: 100%;
    height: 40px;
    padding-left: 50px;
}


section #car_detail_search_box #model_box #model_button button {
    width: 120px;
    height: 40px;
    background-color: #e4dcd3;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
}
/****************************차종 끝***********************/

/***************************분류 시작***********************/

section #car_detail_search_box #group_box {
    width: 100%;
    height: 130px;
}

section #car_detail_search_box #group_box #group_button {
    width: 100%;
    height: 40px;
    padding-left: 50px;
}

section #car_detail_search_box #group_box #group_button button {
    width: 120px;
    height: 40px;
    background-color: #e4dcd3;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
}

/*********************************분류 끝*******************************/

/***********************************가격 시작********************/

section #car_detail_search_box #price_box {
    width: 100%;
    height: 130px;
}

/**********************************가격 끝**************************/

/***********************************연비 시작**********************/

section #car_detail_search_box #efficient_box {
    width: 100%;
    height: 130px;
}

section #car_detail_search_box #efficient_box #efficient_button {
    width: 100%;
    height: 40px;
    padding-left: 50px;
}

section #car_detail_search_box #efficient_box #efficient_button button {
    width: 120px;
    height: 40px;
    background-color: #e4dcd3;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
}
/******************연비 끝****************************/

/*********************유종 시작**************************/

section #car_detail_search_box #fuel_box {
    width: 100%;
    height: 130px;
}

section #car_detail_search_box #fuel_box #fuel_button {
    width: 100%;
    height: 40px;
    padding-left: 50px;
}

section #car_detail_search_box #fuel_box #fuel_button button {
    width: 120px;
    height: 40px;
    background-color: #e4dcd3;
    border-radius: 5px;
    border-style: none;
    margin-left: 30px;
}

/************************유종 끝*****************************/

/****************검색하기 버튼 시작*******************************/

section #search_button {
    width: 1305px;
    height: 50px;
    background-color: #e4dcd3;
    margin-top: 30px;
    border-style: none;
    border-radius: 5px;
}

/***************검색하기 버튼 끝************************************/

#detail_list {
    width : 1200px;
    height: 250px;
    border: 1px grey solid;
    margin: auto;
    display: flex;
}

#car_pic {
    width: 250px;
    height: 250px;   
}

#car_content1 {
    width : 475px;
}

#car_content2 {
    width : 475px;
}