@charset "utf-8";

#wrap{
    width: 100%;
    height: 780px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*상단 회사로고 영역*/
#header{
    width: 100%;
    height: 100px;
}
#header>img{
    width: 100px;
    height: 100px;
}
/*로그인페이지 배경*/
#section_background{
    width: 100%;
    height: 700px;
    background-image: url("../image/dark-car-with-headlight.jpg");/*배경이미지*/
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
}

/*로그인영역*/
#section_loginbox{
    width: 280px;
    height: 280px;
    margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    display: table;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 200px;
}
/*LOGIN로고 영역*/
#login_top{
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    color: lightgray;
    font-size: 30pt;
}
/*id.pw 입력영역*/
input#id_box, input#pw_box{
    width: 280px;
    height: 60px;
    margin-bottom: 10px;
}
/*아이디/비밀번호찾기 영역*/
#login_mid{
    width: 280px;
    height: 30px;
    margin-bottom: 10px;


}
#login_mid>a {
    color:lightgray;
    text-decoration: none;
}

#login_mid>a>span {
    color:lightgray;
    position: relative;
    left:60px;
}

/*아이디저장, 로그인버튼영역*/
#login_bottom {
    width: 280px;
    height: 60px;
    display: flex;
    vertical-align: middle;
}

#login_bottom>div {
    font-size: 12pt;
    color: lightgray;
    width: 120px;
    vertical-align: text-bottom;
}

#login_bottom>div>a>img{
    width: 150px;
    height: 60px;
    position: relative;
    left: 30px;
}

/*하단 회사정보영역*/
#footer {
    width: 100%;
    height: 150px;
    background-color: #444;
    color: gray;
}

#footer>p {
    font-size: 12px;
}