/* *{
    border: 1px dotted #000;
} */
/*마이페이지 전체영역*/
.wrap {
    width: 60%;
    min-width: 1500px;
    margin: 0 20% 0 20%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 
/*카테고리*/
.mypage_category{
    background-color: #e4dcd3;
    font-size: 15px;
    text-align: left;
    width: 15%;
    height: 250px;
    box-sizing: border-box;
}
/*카테고리 알림텍스트*/
.mypage_category>ul>span {
    color:red;
}


/*회원탈퇴 처리영역*/
.section_wrap {
    width: 85%;
    height: auto;
    border: 1px solid black;
    position: static;
    margin: 0 0 100px 0;
    box-sizing: border-box;
}
/*로고이미지 영역*/
.section_img_wrap {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*로고이미지*/
.section_img_wrap>img {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
}

/*비밀번호 입력텍스트*/
.input_password{
    width: 100%;
    height: 400px;
    font-size: 23pt;
    padding: 30% 0 0 5%;
    box-sizing: border-box;
}
.out_password {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*비밀번호 입력박스*/
.out_password>input[type="password"] {
    width: 90%;
    height: 50px;
    border-style: none;
    border-bottom: solid 1px black;
}
/*탈퇴하기버튼 영역*/
.btn_wrap {
    width: 100%;
    height: 150px;
    text-align: right;
}
/*탈퇴하기버튼*/
.btn_wrap>input[type="submit"] {
    width: 100px;
    height: 50px;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    margin: 50px 30px 0 0 ;
    border-radius: 10px;
}

