@charset "UTF-8";

html, body {
    margin : 0;
    padding : 0;
    background-color: #f5f5f5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: nowrap;
    overflow-x: hidden;
}
/*header시작*/
header {
    width : 100%;
    height : 85px;
}
/*top시작*/
header #top {
    width : 100%;
    height : 50px;
    padding : 15px 0 0 0;
    background-color: #e4dcd3;
    text-align: right;
}

#top ul {
    padding: 0 50px 0 0;
}
#top ul li {
    display: inline;
    margin: 0 30px 0 0;

}
#top ul>li>a {
    color: #444;
}
/*top 끝*/

/*실선시작*/
header #hl {
    width: 95%;
    color: grey;
}
/*실선 끝*/

nav {
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
}

nav #logo img {
    width: 100px;
    height: 100px;
    margin: 0 0 0 50px;
    float: left;
}

nav #middle {
    padding-top: 10px;
}

nav #middle ul {
    list-style: none;
    margin-left: 400px;
}

nav #middle ul li {
    margin: 0 60px 0 0;
    font-size: 20pt;
    display: inline-block;
}

nav #middle ul li a {
    text-decoration: none;
    font-size: 20pt;
    font-weight: bold;
    color: #444;
}

#footer {
    width: 100%;
    height: 150px;
    background-color: #444;
    color: gray;
}

#footer>p {
    font-size: 12px;
}

/* ----------------------------노터치----------------------------------------------------- */

/* 전체 테두리 */
.wrap {
    height: 1400px;
    width: 1200px;
    color: #333;
    font-size: 23px;
    line-height: 10px;
    background-color: white;
    border:1px solid black;
    margin: 50px auto 100px auto;
    display: flex;
    flex-wrap: wrap;
}

/* -----------------------------타이틀 라인 -------------------------------------------------*/
/* 타이틀 (1) */
.title_1 {
    height: 5%;
    width: 100%;
    font-weight: bold;
    padding: 0px 0px 0px 55px;
    border-bottom: 3px double black;
    line-height: 70px;
}

/* 타이틀 (2) */
.title_2 {
    height: 95%;
    width: 10%;
    font-weight: bold;
    line-height: 20px;
    border-right: 1px solid black;
    padding: 0px 0px 0px 20px;
}

.category_title {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    line-height: 70px;
}

.category_field {
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    line-height: 30px;
}

.material-icons {
    vertical-align: middle;
}

/* ------------------------------내용 ---------------------------------------------------------*/

/* 전체 */
.news_main {
    width: 88%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* 1개 박스*/
.news_box {
    width: 32%;
    height: 400px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

/*메인포스트 이미지*/
.news_box>img {
    width: 100%;
    height: 50%;
}

/*메인포스트 제목*/
.news_box>h3 {
    width: 100%;/*길이값 지정으로 inline-blok 길이제한*/
    height: 10%;
    font-size: 20px;
    white-space: nowrap;
    display: inline-block;/*컨텐츠길이에따라 유동적인 길이로 변환*/
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 0 0 10px;
    border-bottom: 3px double gray;
    margin: 0;
}
/*메인포스트 본문*/
.text {
    width: 100%;
    height: 40%;
    font-size: 13px;
    white-space: normal;
    word-break: normal;
    word-wrap: break-word;
    text-overflow:ellipsis;
    line-height: 20px;
    display: -webkit-box;/*여백삽입과같이 톺이의 유연성추가*/
    -webkit-line-clamp: 5;/*표시할 줄갯수*/
    -webkit-box-orient: vertical;/*플렉스박스의 방향설정*/
    overflow: hidden;
    text-overflow:clip;
    max-height: 23%;
    padding: 10px;
}

/* ----------------------페이징 ------------------------------------------------------------------*/

.paging {
    width: 100%;
    height: 5%;
    border: 1px solid blue;
    margin: 10px;
}