section {
    width: 1500px;
    height: 800px;
    background-image: url(./img/morning_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 200px;
}

section #id_pw_trans {
    margin-left: 80px;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
}

section #id_pw_box {
    margin-top: 100px;
    display: flex; 
    padding-left: 100px;
}

section #id_pw_box a {
    color: #444;
}

section #id_pw_box #id_such_box {
    width: 550px;
    height: 400px;
    background-color: rgba(0,0,0,.5);
    font-size: 20pt;
    margin-top: 50px; 
    padding: 10px 0 0 20px;
}

section #id_pw_box #id_such_box #id_text {
    color:white;
    opacity:1.0;
}

section #id_pw_box #id_such_box #phone_number_such {
    width: 400px;
    height: 50px;
    background-color: rgba(0,186,0,.9);
    opacity: 1.0;
    margin-top: 50px;
    margin-left:50px;
    text-align: center;
    border-radius: 10px;
}

section #id_pw_box a {
    text-decoration: none;
}

section #id_pw_box #id_such_box #kakao_such {
    width: 400px;
    height: 50px;
    background-color: rgba(255,243,16,.9);
    opacity: 1.0;
    margin-top: 100px;
    margin-left:50px;
    text-align: center;
    border-radius: 10px;
}



section #id_pw_box #pw_such_box {
    width: 550px;
    height: 400px;
    background-color: rgba(0,0,0,.5);
    font-size: 20pt;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px 0 0 20px;
}



section #id_pw_box #pw_such_box #pw_text {
    color:white;
    opacity:1.0;
}


section #id_pw_box #pw_such_box #email_input {
    width: 400px;
    height: 50px;
    margin-top: 50px;
    margin-left:50px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
}

section #id_pw_box #pw_such_box #pw_change_button {
    width: 400px;
    height: 50px;
    margin-top: 100px;
    margin-left:50px;
    border-radius: 10px;
    border-style: none;
}