<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">

	<select id="isMember" parameterType="String" resultType="int">
		SELECT count(*) FROM member_tbl
		WHERE member_id=#{memberId}
	</select>
	
	<select id="isEnableEmail" parameterType="String" resultType="int">
		SELECT count(*) FROM member_tbl
		WHERE member_email=#{memberEmail}
	</select>
	
	<select id="isEnablePhone" parameterType="String" resultType="int">
		SELECT count(*) FROM member_tbl
		WHERE member_phone=#{memberPhone}
	</select>
	
	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO member_tbl VALUES 
		(
			#{memberId},
			#{memberNickname},
			#{memberName},
			#{memberGender},
			#{memberEmail},
			#{memberPhone},
			#{memberBirth},
			#{memberZip},
			#{memberAddress},
			sysdate
		)
	</insert>
	
	<select id="getMember" parameterType="String" resultType="MemberVO">
		SELECT * FROM member_tbl
		WHERE member_id=#{memberId}
	</select>	

	<update id="updateMember" parameterType="MemberVO">
		UPDATE member_tbl SET  
			member_nickname=#{memberNickname},  
			member_email=#{memberEmail}, 
			member_phone=#{memberPhone}, 
			member_zip=#{memberZip}, 
			member_address=#{memberAddress}  
		WHERE member_id=#{memberId}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE member_tbl WHERE member_id=#{memberId}
	</delete>
	
	<select id="getAllMembers" resultType="MemberVO">
		SELECT * FROM member_tbl
	</select>
	
	<select id="getMembersByPaging" parameterType="PageDTO" resultType="MemberVO">
	    SELECT *   
		FROM (SELECT ROWNUM,   
		             m.*,    
		             FLOOR((ROWNUM - 1) / #{limit} + 1) page 
		      FROM (  
		             SELECT * FROM member_tbl   
		             ORDER BY member_id ASC  
		           ) m    
		      )     
		WHERE page = #{page}
	</select>
	
	<select id="getMembersByFieldAndPaging" parameterType="SearchVO" resultType="MemberVO">
		SELECT * 
		FROM (SELECT ROWNUM,   
		             m.*,    
		             FLOOR((ROWNUM - 1) / #{limit} + 1) page   
		      FROM (  
		             SELECT * FROM member_tbl   
		             WHERE ${fld} ${expr}
		             ORDER BY member_id ASC  
		           ) m    
		      )     
		WHERE page = #{page}
	</select>
	
	<select id="isEnalbleEmailUpdate" parameterType="hashMap" resultType="int">
		SELECT count(*) FROM 
		   (SELECT member_email FROM member_tbl 
			  WHERE member_id != #{memberId}) 
		WHERE member_email = #{email}
	</select>
	
	<select id="isEnablePhoneUpdate" parameterType="hashMap" resultType="int">
		SELECT count(*) FROM 
			(SELECT member_phone FROM member_tbl 
			 WHERE member_id != #{memberId}) 
		WHERE member_phone = #{phone}
	</select>
	
</mapper>