@charset "UTF-8";

/* 전체 회원 수정 레이어/테이블 레이아웃  */
div#wrap {
	padding-top:300px; /* 템플릿 적용에 따른 버그 패치 */    
    width:1000px;	
	font-size:1.2em;
	font-family:Nanum Gothic;
}

div.updateFormPnl {
	width:100%;
}
  
table#updateFormTbl {  
    width:100%;
}  

/* 테이블의 개별 셀(cell) */
table#updateFormTbl td {
	padding:15px;
}

/* 입력 필드 표제셀 */
/* 
	아이디가 updateFormTbl인 테이블 소속의 홀수줄(tr)의
	배경색을 #94E3F6로 적용합니다. 
*/
table#updateFormTbl tr:nth-child(2n+1) {
	background-color:#94E3F6;
}

/* 
	아이디가 updateFormTbl인 테이블 소속의 짝수줄(tr)의 
	배경색을 #94EAF6로 적용합니다. 
*/
table#updateFormTbl tr:nth-child(2n) {
	background-color:#94EAF6;
}

/* 입력 필드 표제셀 */
table#updateFormTbl td:nth-child(2n+1) {
	width:200px;
	font-weight:bold;
	letter-spacing:2px;
}

/* 입력 필드셀 */
/* 
	아이디가 updateFormTbl인 테이블 소속의 짝수번째의 셀(td)의 
	배경색을 #C8F3FA로 적용합니다. 
*/
table#updateFormTbl td:nth-child(2n) {	
	background-color:#C8F3FA;
}


/* 하단 메뉴(회원수정/취소) 테이블 */
/*
	너비 : 1000px
	길이 : 100px
	중앙정렬
	내부간격 : 상하 10px
*/
table#updateFormMenu {
	width:1000px;
	height:100px;
	text-align:center;
	padding:10px 0;
}

/* 폼필드(각종 입력 필드)들 외곽선 효과 */
/*
	외곽선 : 1px 실선 #999
	글꼴 크기 : 1.2em
	내부간격 : 5px
*/
input[type='text'], input[type='password'] {
	border:1px solid #999;
	font-size:1.2em;
	padding:5px;
}

/* 입력 필드 표제 필수 항목 "*" */
.requiredFld {
	color:red;
}

/* 회원수정/취소/주소검색 버튼  */
/*
	글꼴 크기 : 1em
	글꼴 형태 : 굵게
	글꼴색 : 흰색
	너비 : 140px
	높이 : 50px
	배경색 : #00A2E8
	외곽선색 : #60C5F1
	외곽선굵기 : 3px
	외곽선형태 : 실선
	외곽선 곡면처리 : 10px
	외부 간격 : 좌우 5px
	자간 : 2px
*/
input[id^=update][id$=Btn] {    
	font-size:1em;
	font-weight:bold;
	color:#fff;
	width:140px;
	height:50px;
	background-color:#00A2E8;
	border:3px solid #60C5F1;
	border-radius:10px;
	margin:0 5px;
	letter-spacing:2px;
	
	transition: all .2s ease;
}

/*  추가 : 회원수정/취소/주소검색 버튼(roll over) */
input[id^=update][id$=Btn]:hover {    
	font-size:1em;
	font-weight:900;
	color:#C8FAF4;
	width:140px;
	height:50px;
	background-color:#007DE8;
	border:3px solid #60AEF1;
	border-radius:10px;
	margin:0 5px;
	letter-spacing:2px;	
}

/* 폼점검 에러 메시지  */
.err_msg { color:red; }