<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="optionMapper">
	<!-- 옵션 조회 -->
	<select id="readOption1" parameterType="int"
		resultType="com.greencar.vo.option.OptionVO">
		select option_no
		,option_NAME
		,option_tire
		,option_wheel
		,option_navi
		,option_seat
		,option_frame
		,option_window
		,option_cost
		from
		goods_option
		where option_no = #{optionNo}
	</select>
	<!-- 옵션 조회 -->
	<select id="readOption2" parameterType="int"
		resultType="com.greencar.vo.option.OptionVO2">
		select option_no2
		,option_NAME2
		,option_tire2
		,option_wheel2
		,option_navi2
		,option_seat2
		,option_frame2
		,option_window2
		,option_cost2
		from
		goods_option2
		where option_no2 = #{optionNo2}
	</select>
	<!-- 옵션 조회 -->
	<select id="readOption3" parameterType="int"
		resultType="com.greencar.vo.option.OptionVO3">
		select option_no3
		,option_NAME3
		,option_tire3
		,option_wheel3
		,option_navi3
		,option_seat3
		,option_frame3
		,option_window3
		,option_cost3
		from
		goods_option3
		where option_no3 = #{optionNo3}
	</select>


</mapper>