@charset "utf-8";

/*글쓰기 영역*/
.wrap {
    width: 70%;
    min-width: 1200px;
    height: auto;
    margin: 0 15% 0 15%;
}

.notice_write_head>input[type="text"] {
    width: 100%;
    height: 40px;
    margin: 20px 0 20px 0;
}

.notice_write_text>textarea {
    width: 100%;
    height: 300px;
    margin: 20px 0 20px 0;
    
}

.notice_writer>input[type="text"] {
    width: 100%;
    height: 40px;
    margin: 20px 0 20px 0;
}