@charset "UTF-8";

/* 전체 테두리 */
.wrap {
	height: 1400px;
	width: 1200px;
	color: #333;
	font-size: 23px;
	line-height: 10px;
	background-color: white;
	border: 1px solid black;
	margin: 0px auto 0px auto;
	display: flex;
	flex-wrap: wrap;
}

a {
	text-decoration: none !important
}

/* -----------------------------타이틀 라인 -------------------------------------------------*/
/* 타이틀 (1) */
.title_1 {
	height: 5%;
	width: 100%;
	font-weight: bold;
	padding: 0px 0px 0px 55px;
	border-bottom: 3px double black;
	line-height: 70px;
}

/* 타이틀 (2) */
.title_2 {
	height: 95%;
	width: 10%;
	font-weight: bold;
	line-height: 20px;
	border-right: 1px solid black;
	padding: 0px 0px 0px 20px;
}

.category_title {
	font-size: 20px;
	padding: 0px 10px 0px 10px;
	line-height: 70px;
}

.category_field {
	font-size: 15px;
	padding: 0px 10px 0px 10px;
	line-height: 30px;
}

.material-icons {
	vertical-align: middle;
}

/* ------------------------------내용 ---------------------------------------------------------*/

/* 전체 */
.news_main {
	width: 88%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* 박스 분할 */
.news_sub {
	width: 100%;
	height: 84.5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* 1개 박스*/
.news_box {
	width: 32%;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
}

/*메인포스트 이미지*/
.news_box>img {
	width: 100%;
	height: 50%;
}

/*메인포스트 제목*/
.title {
	width: 100%; /*길이값 지정으로 inline-blok 길이제한*/
	height: 10%;
	font-size: 20px;
	white-space: nowrap;
	display: inline-block; /*컨텐츠길이에따라 유동적인 길이로 변환*/
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 15px 0 0 10px;
	border-bottom: 3px double gray;
	margin: 0;
}
/*메인포스트 본문*/
.text {
	width: 100%;
	height: 40%;
	font-size: 15px;
	white-space: normal;
	word-break: normal;
	word-wrap: break-word;
	text-overflow: ellipsis;
	line-height: 20px;
	display: -webkit-box; /*여백삽입과같이 톺이의 유연성추가*/
	-webkit-line-clamp: 4; /*표시할 줄갯수*/
	-webkit-box-orient: vertical; /*플렉스박스의 방향설정*/
	overflow: hidden;
	text-overflow: clip;
	max-height: 23%;
	padding: 10px;
}

/* ----------------------페이징 ------------------------------------------------------------------*/
.paging {
	width: 100%;
	height: 5%;
	margin: 10px auto 10px auto;
	text-align: center;
	line-height: 60px;
}

.pagging_button {
	font-size: 23px;
}