@charset "UTF-8";

/* 전체 테두리 */
.wrap {
    height: auto;
    width: 1200px;
    color: #333;
    font-size: 23px;
    line-height: 10px;
    background-color: white;
    border:1px solid black;
    margin: 0px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
}

a { text-decoration:none
	!important
}

/* -----------------------------타이틀 라인 -------------------------------------------------*/
/* 타이틀 (1) */
.title_1 {
    height: 5%;
    width: 100%;
    font-weight: bold;
    padding: 0px 0px 0px 55px;
    border-bottom: 3px double black;
    line-height: 70px;
}

/* 타이틀 (2) */
.title_2 {
    height: 95%;
    width: 10%;
    font-weight: bold;
    line-height: 20px;
    padding: 0px 0px 0px 20px;
}

.category_title {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    line-height: 70px;
}

.category_field {
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    line-height: 30px;
}

.material-icons {
    vertical-align: middle;
}

/* ------------------------------내용 ---------------------------------------------------------*/

.news_main {
    border-left: 1px solid black;

}

/* 1개 박스*/
.news_box {
    width: 1000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3% 3% 0px 3%;
}

/*메인포스트 이미지*/
.news_box>img {
    width: 100%;
    height: 50%;
}

/*메인포스트 제목*/
.news_box>h3 {
    width: 100%;/*길이값 지정으로 inline-blok 길이제한*/
    height: 10%;
    font-size: 25px;
    display: inline-block;/*컨텐츠길이에따라 유동적인 길이로 변환*/
    padding: 50px 75px 30px 75px;
    border-bottom: 3px double gray;
    margin: 0;
    line-height: 30px;
}

/*메인포스트 본문*/
.text {
    width: 100%;
    height: 40%;
    font-size: 18px;
    white-space: pre;
    word-break: normal;
    word-wrap: break-word;
    line-height: 30px;
    padding: 10px 10px 50px 10px;
    text-align: left;
}
